* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: #111;
    font-family: Arial, sans-serif;
}

h1{
    color: green;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: darkgreen;
}
    